version: '3.4'

x-app: &app
  build:
    context: .
    dockerfile: ./.docker/Dockerfile
    args:
      RUBY_VERSION: '2.6.5'
      PG_MAJOR: '12'
      NODE_MAJOR: '13'
      YARN_VERSION: '1.21.1'
      BUNDLER_VERSION: '2.1.4'
  environment: &env
    NODE_ENV: development
    RAILS_ENV: ${RAILS_ENV:-development}
  image: ruby-on-whales:1.0.0
  tmpfs:
    - /tmp

x-backend: &backend
  <<: *app
  stdin_open: true
  tty: true
  volumes:
    - .:/app:cached
    - rails_cache:/app/tmp_cache
    - bundle:/usr/local/bundle
    - node_modules:/app/node_modules
    - packs:/app/public/packs
    - .docker/.psqlrc:/root/.psqlrc:ro
  environment:
    <<: *env
    REDIS_URL: redis://redis:6379/
    DATABASE_URL: postgres://postgres:postgres@postgres:5432/
    BOOTSNAP_CACHE_DIR: /bundle/bootsnap
    WEBPACKER_DEV_SERVER_HOST: webpacker
    WEB_CONCURRENCY: 1
    HISTFILE: /app/log/.bash_history
    PSQL_HISTFILE: /app/log/.psql_history
    EDITOR: vi

services:
  shell:
    <<: *backend
    command: /bin/bash

  rails:
    <<: *backend
    command: bash -c "which rails && bundle exec rails server -b 0.0.0.0"
    ports:
      - "3000:3000"

  sidekiq:
    <<: *backend
    command: bash -c "which sidekiq && bundle exec sidekiq -C config/sidekiq.yml"

  webpacker:
    <<: *app
    command: bash -c "test -x ./bin/webpack-dev-server && ./bin/webpack-dev-server"
    ports:
      - "3035:3025"
    volumes:
      - .:/app:cached
      - bundle:/usr/local/bundle
      - node_modules:/app/node_modules
      - packs:/app/public/packs
    environment:
      <<: *env
      WEBPACKER_DEV_SERVER_HOST: 0.0.0.0

  postgres:
    image: postgres:12.1
    volumes:
      - .docker/.psqlrc:/root/.psqlrc:ro
      - postgres:/var/lib/postgresql/data
      - ./log:/root/log:cached
    environment:
      PSQL_HISTFILE: /root/log/.psql_history
      POSTGRES_PASSWORD: sec-ruby-on-whales-ret
    ports:
      - "5432:5432"

  redis:
    image: redis:5.0-alpine
    volumes:
      - redis:/data
    ports:
      - "6379:6379"

volumes:
  postgres:
  redis:
  bundle:
  node_modules:
  rails_cache:
  packs:
